z.out
/checker
/check_utils
/cs
/input
/output
/ref
/src
/tasks
/tests
/target
Cargo.lock
Cargo.toml
check
checker.sh
install.sh
tests.json
image_check
image_editor
dummy
.check.grade
.checkpatch-camelcase.git.
log.txt