/checker
/check_utils
/cs
/input
/output
/ref
/src
/tasks
/tests
/target
/images
Cargo.lock
Cargo.toml
check
checker.sh
install.sh
tests.json
image_check
image_editor
.check.grade
.checkpatch-camelcase.git.
log.txt
README
312CA_GoidescuRares-Stefan_Tema3.zip